<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387423726605-v0213k2e0i5h8hqnsan3dhmecjs499mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387423726605-v0213k2e0i5h8hqnsan3dhmecjs499mn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>387423726605-ldsmsr7d67s3lgefiob4vik14f7qupna.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBK_TXUoppRRiH5aBZUq7YEKtdWS1zNC50</string>
	<key>GCM_SENDER_ID</key>
	<string>387423726605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nex.com.dbtt</string>
	<key>PROJECT_ID</key>
	<string>vndms-280802</string>
	<key>STORAGE_BUCKET</key>
	<string>vndms-280802.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387423726605:ios:1b18aa10397ba66324b944</string>
	<key>DATABASE_URL</key>
	<string>https://vndms-280802.firebaseio.com</string>
</dict>
</plist>