<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Giám Sát Thiên Tai</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VNDMS</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>zalo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zalo-314411592040398357</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb154572565140483</string>
				<string>com.googleusercontent.apps.387423726605-v0213k2e0i5h8hqnsan3dhmecjs499mn</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>154572565140483</string>
	<key>FacebookDisplayName</key>
	<string>bla</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb-messenger-share-api</string>
		<string>fb-messenger-api</string>
		<string>fbapi</string>
		<string>fbshareextension</string>
		<string>fbauth2</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Hệ thống giám sát thiên tai cần truy cập Bluetooth của bạn cho việc cập nhật thông tin người dùng.</string>
	<key>NSCameraUsageDescription</key>
	<string>Hệ thống giám sát thiên tai cần truy cập Camera chụp ảnh của bạn cho việc cập nhật thông tin người dùng.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Hệ thống giám sát thiên tai cần truy cập vị trí của bạn cho việc định vị vùng thời tiết nhanh chóng nhất</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Hệ thống giám sát thiên tai cần truy cập vị trí của bạn cho việc định vị vùng thời tiết nhanh chóng nhất</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Hệ thống giám sát thiên tai cần truy cập vị trí của bạn cho việc định vị vùng thời tiết nhanh chóng nhất</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Hệ thống giám sát thiên tai cần sử dụng Micro của bạn cho việc thu âm.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Hệ thống giám sát thiên tai cần truy cập Bộ sưu tập ảnh của bạn cho việc cập nhật thông tin người dùng.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>host</key>
	<string>http://vndms.dmc.gov.vn/api</string>
	<key>tile</key>
	<string>http://103.7.41.156:9090/VNBase</string>
</dict>
</plist>
